.list_container {
  margin: 12px auto;
  height: calc(100vh - 24px);
  width: 800px;
  overflow: auto;
}

.list {
  position: relative;

  & > div {
    width: 100%;
    position: absolute;
    will-change: transform;
  }
}

.article {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 12px;
  border-radius: 8px;
}

.img {
  width: 100%;
}
