.list_container {
  margin: 12px auto;
  height: calc(100vh - 24px);
  width: 800px;
  overflow: auto;
}

.list {
  position: relative;

  & > div {
    width: 100%;
    position: absolute;
    will-change: transform;
  }
}

@keyframes fade-on {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.article {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 12px;
  margin-right: 12px;
  border-radius: 8px;
  animation: fade-on 0.3s linear;
}

.img {
  width: 100%;
}
